#!/bin/sh
YUM_PACKAGES=(
{% for package in yum_packages %}
  {{ package.name }}
{% endfor %}
)

rm -rf {{ host_download_path }}
mkdir -p {{ host_download_path }}

# Extra Packages for Enterprise Linux
yum install -y epel-release
for package in ${YUM_PACKAGES[@]}
do
  yum --downloadonly --downloaddir={{ host_download_path }} install -y $package
  yum --downloadonly --downloaddir={{ host_download_path }} reinstall -y $package
done

yum install -y createrepo
createrepo --simple-md-filenames {{ host_download_path }}