#!/bin/sh
# {{ ansible_managed }}

su - {{ oracle_user }} -c 'source /home/{{ oracle_db_user.user_name }}/script/export_ORACLE_SID.sh; sqlplus /nolog @/home/{{ oracle_db_user.user_name }}/script/shutdown.sql'